In [1]:
import os
from pathlib import Path
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import cross_val_score

In [2]:
PATH_ROOT = Path(os.getcwd())
PATH_Email = os.path.join(PATH_ROOT.parent, 'data/CS760/Email', 'fraud_email_.csv')
PATH_News=os.path.join(PATH_ROOT.parent, 'data/CS760/News', 'Covid-19 News.csv')
PATH_Review=os.path.join(PATH_ROOT.parent, 'data/CS760/Review', 'Womens Clothing E-Commerce Reviews.csv')


Email=pd.read_csv(PATH_Email)
News=pd.read_csv(PATH_News,header=None)
Review=pd.read_csv(PATH_Review)

In [82]:
#each dataset use 4800 lines
temp1=pd.DataFrame()  
temp1['text']=Review.iloc[0:4800,4]
temp1['type'] = "Review"

temp2=pd.DataFrame()  
temp2['text']=News.iloc[0:4800,1]
temp2['type']="News"

temp3=pd.DataFrame()  
temp3['text']=Email.iloc[0:4800,0]
temp3['type']="Email"

frames = [temp1,temp2,temp3]
train=pd.concat(frames)

train

                                                   text    type
0     Absolutely wonderful - silky and sexy and comf...  Review
1     Love this dress!  it's sooo pretty.  i happene...  Review
2     I had such high hopes for this dress and reall...  Review
3     I love, love, love this jumpsuit. it's fun, fl...  Review
4     This shirt is very flattering to all due to th...  Review
...                                                 ...     ...
4795  Thank you for giving me your time=2E Please be...   Email
4796  ATTENTION:THE PRESIDENT Dear Sir,I am engr.Kof...   Email
4797  P proposing you put out the below based on bom...   Email
4798  Have had 2 sessions since u & I talked having ...   Email
4799  The Director,            SEEKING FOR IMMEDIATE...   Email

[14400 rows x 2 columns]

In [131]:
#set train and test
X_train=train.text
X_test=train.type

from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer(token_pattern = '[a-zA-Z0-9]+',stop_words='english',min_df=2,max_df=0.3)
X_train_T=v.fit_transform(X_train.values.astype('U'))

In [132]:
model=MultinomialNB()
model.fit(X_train_T,X_test)
scores = cross_val_score(model, X_train_T,X_test, cv=10)
print(scores)
scores.mean()

[0.96180556 0.95763889 0.94444444 0.94305556 0.95555556 0.95069444
 0.95902778 0.94861111 0.95069444 0.95833333]

0.9529861111111112

In [133]:
#纯粹随便取了8个数据测试(都是review)，之前cv已经做过测试
test=pd.DataFrame()  
#test['text']=Review.iloc[4801:4809,4]
test['text']=News.iloc[4700:4800,1]
#test['type'] = "Review"
vtrans=v.transform(test['text'])
ans=model.predict(vtrans)